# Ignore everything
node_modules/*
uploads
upgrade
.idea
mu-plugins
plugins/*
themes/*
ai1wm-backups
languages
debug.log
cache/*
wp-rocket-config/*
advanced-cache.php
# But not these files...
!.gitignore
!themes/favber
# etc...
