:root {
  --e-global-color-primary: #546E51;
  --e-global-color-secondary: #F84651;
  --e-global-color-text: #636e72;
  --e-global-color-accent: #1e272e;

  --ca-grey: 99, 110, 114;
  --ca-dark: 30, 39, 46;

  --light: #ffffff;
  --ca-light: 255, 255, 255;

  --font-size: 16px;
  --line-height: 1.625rem;
  --font-family: 'Open Sans',
    sans-serif;
}